$gray: #ccc8c8;
$innerwidth: 1170;

.layout {
  width: 100vw;

  display: flex;
  justify-content: center;
  .layout__inner {
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 70px;
  padding: 10px;
  width: 120px;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: black;
    transform: scale(1.1);
    transition: ease-out 200ms;
    font-weight: 600;
  }
}

.topbar {
  @extend .layout;
  height: 50px;

  .topbar__inner {
    @extend .layout__inner;
    .topbar__left {
      display: flex;
      gap: 1rem;

      margin-left: 2rem;

      transform: scale(1.3);
      * {
        &:hover {
          color: $gray;
          cursor: pointer;
        }
      }
    }

    .topbar__right {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      align-content: center;

      margin-right: 2rem;

      * {
        &:hover {
          color: $gray;
          cursor: pointer;
        }
      }

      .topbar__location {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .topbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    width: 100%;
  }
}
