@use "../../variables.scss";
@use "../Topbar/Topbar.scss";
.cart__container {
  top: 0;
  position: absolute;
  width: 100vw;

  .cart__right {
    position: absolute;
    right: -600px;
    max-width: 500px;
    width: 100%;
    background-color: white;
    z-index: 5;
    transition: all 400ms ease;

    h2 {
      margin-top: 1rem;
      margin-left: 2rem;
    }

    & > :nth-child(2) {
      position: absolute;
      right: 30px;
      top: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    .cart__items {
      // max-height: calc(80vh);
      height: 60vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .cart__item {
        height: 150px;
        width: 450px;
        display: flex;

        .cart__item__left {
          width: 40%;
          height: inherit;

          img {
            width: 100%;
            height: inherit;
          }
        }

        .cart__item__right {
          width: 60%;
          height: inherit;
          margin-left: 1rem;

          .quantity__control {
            display: flex;
            gap: 1rem;
            .quatity {
              height: 42px;
              width: 120px;
              background-color: variables.$gray;
              border-radius: 5px;
              & > :nth-child(1) {
                background-color: transparent;
                border: none;
                height: 40px;
                width: 40px;
                font-size: 17px;
                cursor: pointer;
              }

              & > :nth-child(2) {
                background-color: transparent;
                padding: 0;
                outline: none;
                border: none;
                width: 40px;
                height: 40px;
                text-align: center;
              }

              & > :nth-child(3) {
                @extend :nth-child(1);
              }
            }
            .remove {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }

    .cart__bottom {
      height: 40vh;
      background-color: whitesmoke;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      .subtotal {
        max-width: 500px;
        width: 100%;
        margin-left: 2rem;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        gap: 1em;

        p {
          text-decoration: underline;
        }
      }

      button {
        margin-bottom: 0.5rem;
        width: 70%;
        padding: 1em;
        border-radius: 30px;
        color: white;
        background-color: black;
        font-size: 1em;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: all 200ms ease;
        }
      }
      a {
        color: black;
      }
    }
  }
  .cart__right__active {
    transform: translateX(-600px);
  }
  .cart__left {
    opacity: 0;
    width: calc(100vw - 500px);
    height: 100vh;
    position: absolute;
    background-color: rgba(79, 79, 79, 0.4);
    transition: all 300ms ease;
    z-index: -1;
  }

  .cart__left__active {
    opacity: 1;
    z-index: 8;
  }
}
