.sidename {
  display: none;
  color: white;
  background: black;
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
  padding: 0.5rem;
  border-radius: 5px;
  // transition: all 0.3s linear;
  border: 1px solid black;
  font-size: 0.8rem;
  width: 80px;
  opacity: 0;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid black;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    position: absolute;
    top: 10px;
    left: 106%;
    transform: translateX(-50%);
  }
}

.show {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  display: block !important;
}
.dropdown {
  display: none;
  color: white;
  background: black;
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
  padding: 0.5rem;
  border-radius: 5px;
  // transition: all 0.3s linear;
  border: 1px solid black;
  font-size: 0.8rem;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
}
