@use "../Topbar/Topbar.scss";
@use "../../variables";

.hero {
  @extend .layout;
  height: 90vh;
  background: rgba(208, 198, 198, 0.1) !important;
}
.hero__inner {
  @extend .layout__inner;
  display: flex !important;
  gap: 10rem;
  justify-content: center;
  height: 60vh;

  .hero__left {
    height: 100%;
    width: 50%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
      font-weight: 500;
    }
  }
  .btn {
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    width: 120px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: black;
      transform: scale(1.1);
      transition: ease-out 200ms;
      font-weight: 600;
    }
  }

  .hero__right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    img {
      width: 100%;
      max-width: 500px;
      height: 100%;
      max-height: 500px;
    }
  }
}

/*custom slicker css*/

.slick-slider {
  display: flex !important;
  justify-content: center;
}

.slick-list {
  max-width: 1200px;
  width: 100%;
}

.slick-slide {
  z-index: -1;
}

.slick-active {
  z-index: 1;
}

.slick-prev {
  left: 30px !important;
  @extend .slick-next;
}

.slick-next {
  right: 30px !important;
  z-index: 1;
  color: darken($color: variables.$gray, $amount: 40%) !important;
  background: lighten($color: variables.$gray, $amount: 25%) !important;
  transform: scale(1.5) !important;
  padding: 5px !important;
  border-radius: 100%;

  &:hover {
    transition: ease-out 500ms all;
    transform: scale(1.8) !important;
    color: lighten($color: variables.$gray, $amount: 15%) !important;
    background: darken($color: variables.$gray, $amount: 40%) !important;
  }
}

.slick-dots li button:before {
  margin-top: 1rem;
  font-size: 15px !important;
}

@media screen and (max-width: 768px) {
  .hero__inner {
    flex-direction: column-reverse;
    height: 70vh;
    gap: 2rem;
    align-items: center;

    .hero__left {
      height: 50%;
      width: 100%;
      margin: 1rem;
      align-items: center;
      text-align: center;
    }

    .hero__right {
      height: 50%;
      width: 100%;
      margin: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero__inner {
    height: 80vh;
    .hero__left {
      h1 {
        font-size: 40px;
      }
      .btn {
        transform: scale(0.9);
      }
    }
  }
}
