@use "../Topbar/Topbar.scss";
@use "../../variables.scss";

* {
  font-family: variables.$font;
}

.week__highlight {
  @extend .layout;
  font-family: variables.$font;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 5rem;
  height: 1000px;
  border-bottom: none;
  text-align: center;
  h1 {
    font-size: 40px;
  }
  .week__highlight__inner {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 1115px) {
  .week__highlight {
    margin-top: 10rem;
    height: 1700px;
    .week__highlight__inner {
      grid-template-columns: auto auto;
      align-items: center;
      justify-items: center;
      justify-content: space-evenly;
    }
  }
}
